src/main/app/skryv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<quartz:connector name="Quartz" validateConnections="true"
		doc:name="Quartz" />
	<validation:config name="Validation_Configuration_or_number"
		doc:name="Validation Configuration" />
    <http:listener-config name="HTTP_Listener_Configuration_Skryv" host="0.0.0.0" port="10009" doc:name="HTTP Listener Configuration"/>
	<flow name="skryv_receive_webhook_process">
		<http:listener config-ref="HTTP_Listener_Configuration_Skryv"
			path="/skryv/event/process" allowedMethods="POST"
			doc:name="HTTP /skryv/event/process" />
		<flow-ref name="skryv_receive_process_set_vars" doc:name="skryv_receive_process_set_vars" />
        <choice doc:name="Check if Content Partner">
            <when expression="#[flowVars.dossier.dossierDefinition != dw(&quot;p('skryv.dossierDefinition.process.ContentPartner')&quot;)]">
                <set-variable variableName="skip_event" value="true" doc:name="Set sip_event to true because not a Content Partner"/>
            </when>
            <otherwise>
                <flow-ref name="ldap_company_get_id_by_or_number" doc:name="ldap_company_get_id_by_or_number"/>
                <flow-ref name="crm_company_process_set_api_fields" doc:name="crm_company_process_set_api_fields"/>
            </otherwise>
        </choice>
		<choice doc:name="Skip Event?">
			<when expression="#[flowVars.skip_event == true]">
				<set-variable variableName="state" value="EVENT_SKIPPED"
					doc:name="Variable - state - EVENT_SKIPPED" />
				<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
			</when>
			<otherwise>
				<flow-ref name="crm_company_update" doc:name="crm_company_update" />
			</otherwise>
		</choice>
	</flow>
	<flow name="skryv_receive_webhook_milestone" >
		<http:listener config-ref="HTTP_Listener_Configuration_Skryv"
			path="/skryv/event/milestone" allowedMethods="POST"
			doc:name="HTTP /skryv/event/milestone" />
		<flow-ref name="skryv_receive_milestone_set_vars" doc:name="skryv_receive_milestone_set_vars" />
		<flow-ref name="ldap_company_get_id_by_or_number" doc:name="ldap_company_get_id_by_or_number" />
		<flow-ref name="crm_company_milestone_set_api_fields"
			doc:name="crm_company_milestone_set_api_fields" />
		<choice doc:name="Skip Event?">
			<when expression="#[flowVars.skip_event == true]">
				<set-variable variableName="state" value="EVENT_SKIPPED"
					doc:name="Variable - state - EVENT_SKIPPED" />
				<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
			</when>
			<otherwise>
				<flow-ref name="crm_company_update" doc:name="crm_company_update" />
			</otherwise>
		</choice>
	</flow>
	<flow name="skryv_receive_webhook_document" >
		<http:listener config-ref="HTTP_Listener_Configuration_Skryv"
			path="/skryv/event/document" allowedMethods="POST"
			doc:name="HTTP /skryv/event/document" />
		<flow-ref name="skryv_receive_document_set_vars" doc:name="skryv_receive_document_set_vars" />
        <choice doc:name="Check if Content Partner of niet akkoord">
            <when expression="#[flowVars.dossier.dossierDefinition != dw(&quot;p('skryv.dossierDefinition.document.ContentPartner')&quot;) || flowVars.akkoord == 'neen']">
                <set-variable variableName="skip_event" value="true" doc:name="Set sip_event to true"/>
            </when>
            <otherwise>
                <flow-ref name="ldap_company_get_id_by_or_number" doc:name="ldap_company_get_id_by_or_number"/>
                <flow-ref name="crm_company_document_set_api_fields" doc:name="crm_company_document_set_api_fields"/>
            </otherwise>
        </choice>
		<choice doc:name="Skip Event?">
			<when expression="#[flowVars.skip_event == true]">
				<set-variable variableName="state" value="EVENT_SKIPPED"
					doc:name="Variable - state - EVENT_SKIPPED" />
				<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
			</when>
			<otherwise>
				<flow-ref name="crm_company_update" doc:name="crm_company_update" />
                <flow-ref name="crm_contact_actions" doc:name="crm_contact_actions"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="skryv_receive_process_set_vars">
		<logger
			message="PAYLOAD: #[message.payloadAs(java.lang.String) + &quot;\n\nQuery params:&quot; + message.inboundProperties.'http.query.params' + &quot;\n\nHeaders: &quot; + message.inboundProperties + &quot;\n-------------------------\n&quot;]"
			level="INFO" doc:name="Log" />
        <set-variable variableName="webhook_data_string" value="#[message.payloadAs(java.lang.String)]" doc:name="webhook_data_string"/>
		<dw:transform-message doc:name="Convert to LinkedHashMap">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
		</dw:transform-message>
		<set-variable variableName="action" value="#[payload.action]"
			doc:name="Set action" />
		<set-variable variableName="dossier" value="#[payload.dossier]"
			doc:name="Set dossier" />
		<set-variable variableName="process" value="#[payload.?process]"
			doc:name="Set process" />
		<set-variable variableName="or_number"
			value="#[payload.dossier.externalId]" doc:name="Set or_number" />
		<validation:is-not-empty config-ref="Validation_Configuration_or_number"
			message="Field ExternalId is empty" value="#[flowVars.or_number]"
			doc:name="Validation" />
		<set-variable variableName="x-skryv-event"
			value="#[message.inboundProperties.'x-skryv-event']" doc:name="Set x-skryv-event" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-hook-id']" doc:name="Set x-skryv-hook-id" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-delivery']" doc:name="Set x-skryv-delivery" />
		<set-variable variableName="process_key"
			value="#[payload.?process.processDefinitionKey]" doc:name="Set process_key" />
		<!-- <flow-ref name="crm_event_document_comment_value" doc:name="Comments"/> -->
		<flow-ref name="utils_set_esearch_variables" doc:name="utils_set_esearch_variables" />
		<set-variable variableName="index" value="skryv2crm"
			doc:name="Variable - index" />
		<set-variable variableName="state" value="SKRYV_WEBHOOK_DATA"
			doc:name="Variable - state - SKRYV_WEBHOOK_DATA" />
		<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
	</sub-flow>
	<sub-flow name="skryv_receive_milestone_set_vars">
		<logger
			message="PAYLOAD: #[message.payloadAs(java.lang.String) + &quot;\n\nQuery params:&quot; + message.inboundProperties.'http.query.params' + &quot;\n\nHeaders: &quot; + message.inboundProperties + &quot;\n-------------------------\n&quot;]"
			level="INFO" doc:name="Log" />
        <set-variable variableName="webhook_data_string" value="#[message.payloadAs(java.lang.String)]" doc:name="webhook_data_string"/>
		<dw:transform-message doc:name="Convert to LinkedHashMap">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
		</dw:transform-message>
		<set-variable variableName="action" value="#[payload.action]"
			doc:name="Set action" />
		<set-variable variableName="dossier" value="#[payload.dossier]"
			doc:name="Set dossier" />
		<set-variable variableName="or_number"
			value="#[payload.dossier.externalId]" doc:name="Set or_number" />
		<set-variable variableName="x-skryv-event"
			value="#[message.inboundProperties.'x-skryv-event']" doc:name="Set x-skryv-event" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-hook-id']" doc:name="Set x-skryv-hook-id" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-delivery']" doc:name="Set x-skryv-delivery" />
		<set-variable variableName="milestone_key" value="#[payload.milestone.key]"
			doc:name="Set milestone_key" />
		<set-variable variableName="milestone_status" value="#[payload.?milestone.status]"
			doc:name="Set milestone_status" />
		<!-- <flow-ref name="crm_event_document_comment_value" doc:name="Comments"/> -->
		<flow-ref name="utils_set_esearch_variables" doc:name="utils_set_esearch_variables" />
		<set-variable variableName="index" value="skryv2crm"
			doc:name="Variable - index" />
		<set-variable variableName="state" value="SKRYV_WEBHOOK_DATA"
			doc:name="Variable - state - SKRYV_WEBHOOK_DATA" />
		<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
	</sub-flow>
	<sub-flow name="skryv_receive_document_set_vars">
		<logger
			message="PAYLOAD: #[message.payloadAs(java.lang.String) + &quot;\n\nQuery params:&quot; + message.inboundProperties.'http.query.params' + &quot;\n\nHeaders: &quot; + message.inboundProperties + &quot;\n-------------------------\n&quot;]"
			level="INFO" doc:name="Log" />
        <set-variable variableName="webhook_data_string" value="#[message.payloadAs(java.lang.String)]" doc:name="webhook_data_string"/>
		<dw:transform-message doc:name="Convert to LinkedHashMap">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
		</dw:transform-message>
		<set-variable variableName="action" value="#[payload.action]"
			doc:name="Set action" />
		<set-variable variableName="dossier" value="#[payload.dossier]"
			doc:name="Set dossier" />
		<set-variable variableName="or_number"
			value="#[payload.dossier.externalId]" doc:name="Set or_number" />
		<set-variable variableName="x-skryv-event"
			value="#[message.inboundProperties.'x-skryv-event']" doc:name="Set x-skryv-event" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-hook-id']" doc:name="Set x-skryv-hook-id" />
		<set-variable variableName="x-skryv-hook-id"
			value="#[message.inboundProperties.'x-skryv-delivery']" doc:name="Set x-skryv-delivery" />
        <set-variable variableName="document_key" value="#[payload.document.definitionKey]" doc:name="Set document_key"/>
        <dw:transform-message doc:name="comment_values">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="comment_value_2"><![CDATA[%dw 1.0
%output application/java
---
payload.document.document.value.wij_zijn_genteresseerd_in_een_samenwerking_met_viaa.reden.text]]></dw:set-variable>
            <dw:set-variable variableName="comment_value_3"><![CDATA[%dw 1.0
%output application/java
---
payload.document.document.value.wij_zijn_genteresseerd_in_een_samenwerking_met_viaa.reden_1.text]]></dw:set-variable>
            <dw:set-variable variableName="comment_value_6"><![CDATA[%dw 1.0
%output application/java
---
payload.document.document.value.wij_hebben_kennis_genomen_van_de_samenwerkingsovereenkomst_met_viaa_en_zullen_deze_overeenkomst_binnen_een_termijn_van_maximum_8_weken_ter_goedkeuring_laten_ondertekenen_door_de_bevoegde_personeninstantie.verduidelijk.text]]></dw:set-variable>
        </dw:transform-message>
<!-- 		<set-variable variableName="comment_value_2" -->
<!-- 			value="#[payload.?document.?document.?value.?wij_zijn_genteresseerd_in_een_samenwerking_met_viaa.?reden.?text]" -->
<!-- 			doc:name="Set comment_value_2" /> -->
<!-- 		<set-variable variableName="comment_value_3" -->
<!-- 			value="#[payload.?document.?document.?value.?wij_zijn_genteresseerd_in_een_samenwerking_met_viaa.?reden_1.?text]" -->
<!-- 			doc:name="Set comment_value_3" /> -->
<!-- 		<set-variable variableName="comment_value_6" -->
<!-- 			value="#[payload.?document.?document.?value.?wij_hebben_kennis_genomen_van_de_samenwerkingsovereenkomst_met_viaa_en_zullen_deze_overeenkomst_binnen_een_termijn_van_maximum_8_weken_ter_goedkeuring_laten_ondertekenen_door_de_bevoegde_personeninstantie.?verduidelijk.?text]" -->
<!-- 			doc:name="Set comment_value_6" /> -->
		<set-variable variableName="comment_value"
			value="#[flowVars.comment_value_2 or flowVars.comment_value_3 or flowVars.comment_value_6]"
			doc:name="Set comment_value" />
        <set-variable variableName="skryv_dragers" value="#[payload.?document.?document.?value.?dragers]" doc:name="Set Dragers"/>
        <set-variable variableName="adres_en_contactgegevens" value="#[payload.?document.?document.?value.adres_en_contactgegevens]" doc:name="Set adres_en_contactgegevens"/>
        <set-variable variableName="bedrijfsvorm_optie" value="#[payload.?document.?document.?value.?bedrijfsvorm.?selectedOption]" doc:name="Set bedrijfsvorm_optie"/>
        <set-variable variableName="akkoord" value="#[payload.document.document.value.?wij_verklaren_ons_akkoord_met_de_voorgestelde_samenwerkingsovereenkomst_documenten.selectedOption]" doc:name="Set akkoord"/>
		<flow-ref name="utils_set_esearch_variables" doc:name="utils_set_esearch_variables" />
		<set-variable variableName="index" value="skryv2crm"
			doc:name="Variable - index" />
		<set-variable variableName="state" value="SKRYV_WEBHOOK_DATA"
			doc:name="Variable - state - SKRYV_WEBHOOK_DATA" />
		<flow-ref name="esearch_publish_log_message" doc:name="esearch_publish_log_message" />
	</sub-flow>
	<flow name="skryv_dossier_get" initialState="stopped">
		<quartz:inbound-endpoint jobName="teststsstf"
			repeatInterval="0" repeatCount="0" startDelay="0" connector-ref="Quartz"
			responseTimeout="10000" doc:name="Quartz">
			<quartz:event-generator-job />
		</quartz:inbound-endpoint>
		<flow-ref name="skryv_get_access_token" doc:name="skryv_get_access_token" />
		<http:request config-ref="HTTP_Request_Configuration_Skryv_OAUTH"
			path="/api/dossiers/{id}" method="GET" doc:name="HTTP - /api/dossiers/id">
			<http:request-builder>
				<http:uri-param paramName="id"
					value="f281edf1-b706-4f14-8c57-5d139d0e0d21" />
				<http:header headerName="Authorization"
					value="Bearer #[flowVars.access_token]" />
				<http:header headerName="Accept" value="application/json" />
			</http:request-builder>
		</http:request>
		<byte-array-to-string-transformer
			doc:name="Array to String" />
		<logger message="Dossier - #[payload]" level="INFO" doc:name="Logger" />
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<choice doc:name="Check if HTTP Retrurn Code is 401 (Unauthorized)">
				<when expression="#[message.inboundProperties.'http.status' == 401]">
					<flow-ref name="skryv_fetch_new_access_token" doc:name="skryv_fetch_new_access_token" />
					<flow-ref name="skryv_dossier_get" doc:name="skryv_dossier_get" />
				</when>
				<otherwise>
					<scripting:transformer doc:name="No - Throw Error">
						<scripting:script engine="Groovy"><![CDATA[throw new java.lang.Exception("Response code " + message.getInboundProperty('http.status') + " mapped as failure. Message payload is of type: BufferInputStream");]]></scripting:script>
					</scripting:transformer>
				</otherwise>
			</choice>
		</catch-exception-strategy>
	</flow>
	<sub-flow name="skryv_get_access_token">
		<until-successful maxRetries="5" doc:name="Until Successful"
			synchronous="true">
			<db:select config-ref="Generic_Database_Configuration_Postgres"
				doc:name="Retrieve access_token">
				<db:parameterized-query><![CDATA[select *
from ${db.skryv_token}
where id = 1]]></db:parameterized-query>
			</db:select>
		</until-successful>
		<choice doc:name="Check if access_token is empty">
			<when expression="#[payload[0].access_token == empty]">
				<set-variable variableName="access_token" value="#['']"
					mimeType="text/plain" doc:name="True - Set access_token to empty string" />
			</when>
			<otherwise>
				<set-variable variableName="access_token" value="#[payload[0].access_token]"
					mimeType="text/plain" doc:name="Set access_token" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="skryv_fetch_new_access_token">
		<set-payload value="null" doc:name="Set Payload to empty" />
		<set-attachment attachmentName="client_secret" value="${skryv.client_secret}"
			contentType="text/plain" doc:name="client_secret" />
		<set-attachment attachmentName="client_id" value="${skryv.client_id}"
			contentType="text/plain" doc:name="client_id" />
		<set-attachment attachmentName="grant_type" value="password"
			contentType="text/plain" doc:name="grant_type (password)" />
		<set-attachment attachmentName="username" value="${skryv.username}"
			contentType="text/plain" doc:name="username" />
		<set-attachment attachmentName="password" value="${skryv.password}"
			contentType="text/plain" doc:name="password" />
		<http:request config-ref="HTTP_Request_Configuration_Skryv_OAUTH"
			path="/oauth/token" method="POST" doc:name="Send POST to Skryv OAUTH Server - /token" />
		<json:json-to-object-transformer
			returnClass="java.util.HashMap" doc:name="HashMap" />
		<set-variable variableName="access_token" value="#[payload['access_token']]"
			doc:name="Set access_token" />
		<db:update config-ref="Generic_Database_Configuration_Postgres"
			doc:name="Save access_token">
			<db:parameterized-query><![CDATA[UPDATE ${db.skryv_token}
SET access_token = #[flowVars.access_token]
where id = 1]]></db:parameterized-query>
		</db:update>
	</sub-flow>
</mule>
