src/main/app/skryv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="viaa-test.skryv.com" port="443" doc:name="HTTP Request Configuration"/>
    <quartz:connector name="Quartz" validateConnections="true" doc:name="Quartz"/>
    <http:listener-config name="HTTP_Listener_Configuration_Skryv" host="0.0.0.0" port="10009" doc:name="HTTP Listener Configuration"/>
    <sub-flow name="skryv_receive_set_vars">
        <logger message="PAYLOAD: #[message.payloadAs(java.lang.String) + &quot;\n\nHeaders: &quot; + message.inboundProperties + &quot;\n-------------------------------------------------------------------------------------------------------\n&quot;]" level="INFO" doc:name="Log"/>
        <dw:transform-message doc:name="Convert to LinkedHashMap">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="action" value="#[payload.action]" doc:name="Set action"/>
        <set-variable variableName="dossier" value="#[payload.dossier]" doc:name="Set dossier"/>
        <set-variable variableName="process" value="#[payload.process]" doc:name="Set process"/>
        <set-variable variableName="or_number" value="#[payload.dossier.externalId]" doc:name="Set or_number"/>
        <set-variable variableName="x-skryv-event" value="#[message.inboundProperties.'x-skryv-event']" doc:name="Set x-skryv-event"/>
        <set-variable variableName="x-skryv-hook-id" value="#[message.inboundProperties.'x-skryv-hook-id']" doc:name="Set x-skryv-hook-id"/>
        <set-variable variableName="x-skryv-hook-id" value="#[message.inboundProperties.'x-skryv-delivery']" doc:name="Set x-skryv-delivery"/>
        <flow-ref name="utils_set_esearch_variables" doc:name="Set Variables for esearch"/>
        <set-variable variableName="index" value="skryv2crm" doc:name="Variable - index"/>
        <set-variable variableName="state" value="SKRYV_WEBHOOK_DATA" doc:name="Variable - state - SKRYV_WEBHOOK_DATA"/>
        <flow-ref name="esearch_publish_log_message" doc:name="eSearch"/>
    </sub-flow>
    <flow name="skryv_receive_webhook">
        <http:listener config-ref="HTTP_Listener_Configuration_Skryv" path="/skryv/event" allowedMethods="POST" doc:name="HTTP /skryv/event"/>
        <flow-ref name="skryv_receive_set_vars" doc:name="Set Variables"/>
        <flow-ref name="ldap_company_get_id_by_or_number" doc:name="Get Company ID from LDAP based on the OR Number"/>
        <choice doc:name="Check Event">
            <when expression="#[flowVars.'x-skryv-event' == 'process' &amp;&amp; flowVars.action == 'ended' &amp;&amp; flowVars.process.processDefinitionKey == 'so_ondertekenproces']">
                <flow-ref name="crm_company_update_samenwerkings_overeenkomst" doc:name="CRM Update Company - Samenwerkingsovereenkomst"/>
            </when>
            <otherwise>
                <logger message="x-skryv-delivery ('#[flowVars.x-skryv-delivery]') did not match the criteria and will not be sent to CRM" level="INFO" doc:name="x-skryv-delivery did not match the criteria and will not be sent to CRM"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="skryvFlow" initialState="stopped">
        <quartz:inbound-endpoint jobName="teststsst" repeatInterval="0" repeatCount="0" startDelay="0" connector-ref="Quartz" responseTimeout="10000" doc:name="Quartz">
            <quartz:event-generator-job/>
        </quartz:inbound-endpoint>
        <flow-ref name="skryv_get_access_token" doc:name="oauth_tokens"/>
        <set-payload value="{&quot;label&quot;:&quot;skryv_api_tst_2&quot;,&quot;dossierDefinition&quot;:&quot;dcb4f852-f3ab-40f6-a175-d49b21d3ddb6&quot;,&quot;description&quot;:&quot;dit is een test&quot;}" encoding="UTF-8" mimeType="application/json" doc:name="Set Payload - Dossier"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/api/dossiers" method="POST" doc:name="HTTP - /api/dossiers">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.access_token]"/>
                <http:header headerName="Accept" value="application/json"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger level="INFO" doc:name="Logger" message="Dossier - #[payload]"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="dossier" value="#[payload]" doc:name="Variable - dossier"/>
        <set-payload value="{&quot;authorizationId&quot;:&quot;&quot;,&quot;resourceId&quot;:&quot;#[flowVars.dossier.id]&quot;,&quot;resourceType&quot;:&quot;DOSSIER&quot;,&quot;roleId&quot;:&quot;16dbcdb4-2b42-4bce-b7bb-cd0026a5548b&quot;,&quot;userId&quot;:&quot;anna&quot;}" encoding="UTF-8" doc:name="Set Payload"/>
        <logger message="Dossier - #[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/api/authorizations" method="POST" doc:name="HTTP - /api/authorizations">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.access_token]"/>
                <http:header headerName="Accept" value="application/json"/>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Authorization - #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="{&quot;dossierId&quot;:&quot;#[flowVars.dossier.id]&quot;,&quot;processDefinitionKey&quot;:&quot;Intentieverklaring_v2_workshop&quot;}" encoding="UTF-8" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/api/processes/start" method="POST" doc:name="HTTP - /api/processes/start">
            <http:request-builder>
                <http:header headerName="Authorization" value="Bearer #[flowVars.access_token]"/>
                <http:header headerName="Accept" value="application/json"/>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="Process start - #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="skryv_get_access_token">
        <until-successful maxRetries="5" doc:name="Until Successful" synchronous="true">
            <db:select config-ref="Generic_Database_Configuration_Postgres" doc:name="Retrieve access_token">
                <db:parameterized-query><![CDATA[select *
from ${db.skryv_token}
where id = 1]]></db:parameterized-query>
            </db:select>
        </until-successful>
        <set-variable variableName="access_token" value="#[payload[0].access_token]" doc:name="Set access_token"/>
    </sub-flow>
</mule>
